@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: Casta;
    src: url("../../assets/fonts/Casta-Thin.otf");
}

:root {
    --main-font: 'Noto Sans', sans-serif;
}